<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册失败</title>
    <link th:href="@{/js/bootstrap.min.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="panel panel-danger text-center">
        <div class="panel-heading">注册失败</div>
        <div class="panel-body">
            注册失败，该用户名已被注册，请换个用户名注册:<br />
            <a th:href="@{/register.html}">重新注册</a>
        </div>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>