<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公共组件</title>
</head>
<body>
    <!-- 头部导航条 -->
    <nav th:fragment="navbar(location)" class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" style="color:#fff;">博客网站系统</span>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul th:if="${#session == null}" class="nav navbar-nav">
                    <li th:class="${location == 'index' ? 'active' : ''}"><a th:href="@{/index.html}">博客首页</a></li>
                    <li th:class="${location == 'register' ? 'active' : ''}"><a th:href="@{/register.html}">新博客注册</a></li>
                    <li th:class="${location == 'login' ? 'active' : ''}"><a th:href="@{/login.html}">博客登录</a></li>
                </ul>
                <ul th:if="${#session != null}" class="nav navbar-nav">
                    <li th:class="${location == 'index' ? 'active' : ''}"><a th:href="@{/index.html}">博客首页</a></li>
                    <li th:class="${location == 'home' ? 'active' : ''}"><a th:href="@{/admin/home.html}">用户首页</a></li>
                    <li th:class="${location == 'setting' ? 'active' : ''}"><a th:href="@{/admin/setting.html}">个性化设置</a></li>
                    <li th:class="${location == 'write' ? 'active' : ''}"><a th:href="@{/admin/write.html}">写日志</a></li>
                    <li th:class="${location == 'galary' ? 'active' : ''}"><a th:href="@{/admin/galary.html}">相册</a></li>
                </ul>
                <ul th:if="${#session != null}" class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/user/logout}">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 页面导航栏 -->
    <div th:fragment="nav-sidebar(location)" class="col-md-4">
        <form th:action="@{/article/showArticleByKeyword}" method="post" role="form" class="form-inline">
            <div class="form-group">
                <label for="search" class="sr-only">文章搜索</label>
                <input type="text" id="search" name="keyword" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <h3>页面导航</h3>
        <div th:if="${#session == null}" class="list-group">
            <a th:class="${location == 'index' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/index.html}">博客首页</a>
            <a th:class="${location == 'register' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/register.html}">新博客注册</a>
            <a th:class="${location == 'login' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/login.html}">博客登录</a>
        </div>
        <div th:if="${#session != null}" class="list-group">
            <a th:class="${location == 'index' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/index.html}">博客首页</a>
            <a th:class="${location == 'home' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/admin/home.html}">用户首页</a>
            <a th:class="${location == 'setting' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/admin/setting.html}">个性化设置</a>
            <a th:class="${location == 'write' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/admin/write.html}">写日志</a>
            <a th:class="${location == 'galary' ? 'active list-group-item' : 'list-group-item'}" th:href="@{/admin/galary.html}">相册</a>
        </div>
    </div>
</body>
</html>