<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.blog.mapper.ArticleMapper">
    <insert id="add" parameterType="Article" useGeneratedKeys="true" keyProperty="Id">
        insert into article(title, content, username, date, hasread)
        values (#{title}, #{content}, #{username}, #{date}, #{hasread})
    </insert>
    
    <update id="update" parameterType="Article">
        update article set hasread = #{hasread} where Id = #{id}
    </update>

    <select id="queryArticleByUser" resultType="Article" parameterType="String">
        select * from article where username = #{username}
    </select>

    <select id="queryAllArticle" resultType="Article">
        select * from article
    </select>

    <select id="queryArticleById" resultType="Article" parameterType="int">
        select * from article where id = #{id}
    </select>

    <select id="queryArticleByKeyword" resultType="Article" parameterType="String">
        select * from article where title like concat(concat('%', #{keyword}), '%')
    </select>
</mapper>