<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.blog.mapper.BlogInfoMapper">
    <select id="queryBlogInfoByUsername" parameterType="String" resultType="BlogInfo">
        select * from bloginfo where username = #{username}
    </select>
    <update id="updateBlogInfoByUsername" parameterType="BlogInfo">
        update bloginfo
        set blogtitle = #{blogtitle}, idiograph = #{idiograph}
        where username = #{username}
    </update>
    <insert id="insertBlogInfo" parameterType="BlogInfo">
        insert into bloginfo(username, blogtitle, idiograph) values (#{username}, #{blogtitle}, #{idiograph})
    </insert>
</mapper>