<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.blog.mapper.CritiqueMapper">
    <select id="queryCritiqueCount" parameterType="int" resultType="int">
        select count(*) from critique where AId = #{AId}
    </select>

    <select id="queryCritiqueByAId" parameterType="int" resultType="Critique">
        select * from critique where AId = #{AId}
    </select>
</mapper>